@import "./variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// .navbar {
    //     background-color: $primary!important;
    // }
    
.bg-light {
    background-color: $secondary!important;
}

nav {
    a{
        color: $warning!important;
        font-style: italic;
    }
}

h1{
    color: $primary;
}
h3{
    color: $success;
}
p{
    color: $dark;
}
span {
    background-color: $warning;
    text-transform: uppercase;
    text-decoration: underline;
    color: $secondary;
}